mallet-2.0.8

data/kg_forummessages.csv
data/so_datascience.parquet
data/*.parquet
data/id2word.dictionary

hptuning/eval
hptuning/malletmodels
hptuning/models
hptuning/outputs
hptuning/words
hptuning/topics

analysis/malletmodels

tsne/data
tsne/plotly
tsne/pngs

analysis/conns.csv
analysis/nodes.csv

data/kgdates.csv
data/sodates*